/* The main Catguice specific CSS */

body {
	font-family: 'Short Stack', cursive;
	background-color: #4CCC4C;
	color: #4CCC4C
}

h1 {
	font-size: 1.5em;
	border-bottom: dashed 3px #B378DC;
}

a {
	color: #B378DC;
	text-decoration: none; 
}
a:hover   { color: #B378DC; text-decoration: underline; }
a:visited { color: #B378DC; } 

header {
	position: relative;
	height: 25px;
	top: 0; right: 0; left: 0;
	padding: 5px 50px 5px 50px;
	background-color: #FFFFFF;
	border-bottom: solid 1px black;
}

nav {
	background-color: #B378DC;
	border-bottom: solid 1px black;
}
nav li {
	display: inline;
	margin-right: 1em;
}
nav li:last-child { margin-right: 0em; }
nav a {
	color: #FFFFFF;
	text-decoration: none; 
}
nav a:hover   { color: #FFFFFF; text-decoration: underline; }
nav a:visited { color: #FFFFFF; } 

#logo {

}

#content {
	padding: 15px 20px 40px 20px;
	background-color: #FFFFFF;
	border-left: solid #A935FB 1px;
	border-right: solid #A935FB 1px;
	border-bottom: solid #A935FB 1px;
}

.container {
	color: #FFFFFF;
	padding: 10px 20px;
	background-color: #B378DC;
	border: solid 1px black;
}

/*
 * The Product Preview Image Widget
*/
.product_preview {
	float: left;
	width: 300px;
	height: 300px;
	border: solid 1px #A935FB;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out; /* Firefox 4 */
	-webkit-transition: 0.5s all ease-in-out; /* Safari and Chrome */
	-o-transition: 0.5s all ease-in-out; /* Opera */
}
.product_preview a:hover{ text-decoration: none; } 
.product_preview:hover {
	box-shadow: 0 0 7px #C000C0;
}
.product_preview .product_name {
	position: relative;
	text-align: center;
	padding: 5px 20px 5px 20px;
	background-color: #B378DC;
	top: 0px;
	color: #FFFFFF;
	transition: 0.5s all;
	-moz-transition: 0.5s all; /* Firefox 4 */
	-webkit-transition: 0.5s all; /* Safari and Chrome */
	-o-transition: 0.5s all; /* Opera */
}
.product_preview:hover .product_name {
	top: -150px;
}
.product_preview img {
	position: relative;
	left: 0;
	width: 300px;
	transition: 1s all ease-in-out;
	-moz-transition: 1s all ease-in-out; /* Firefox 4 */
	-webkit-transition: 1s all ease-in-out; /* Safari and Chrome */
	-o-transition: 1s all ease-in-out; /* Opera */
}
.product_preview:hover img{
	width: 400px;
	left: -50px;
}

footer {
	background-color: #FFFFFF;
	border-left: solid #A935FB 1px;
	border-right: solid #A935FB 1px;
	border-bottom: solid #A935FB 1px;
	margin-bottom: 10px;
	padding-left: 1em;
	padding-right: 1em;
}
