 {% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<img src="/static/img/catguice_icon.gif" alt="Catguice Icon" style="float:left; margin-top: 20px; margin-right: 30px;"> I'm Catherine and I'm the artist at Catguice.com. Catguice is THE place to buy amazing custom apparel online. If you have any questions you can get in contact with me at <a href="mailto:catguiceshop@gmail.com">catguiceshop@gmail.com</a>. 
<div class="clear"></div>
{% endblock %}
