{% extends "layout.html" %}
{% block title %}Admin Control Panel{% endblock %}
{% block head %}
	<script>
		$(document).ready(function () {
			$(".delete_category, .delete_product").click(function (){
				var conf1 = confirm("Are you SURE you want to delete this category and ALL of its associated products? ");
				if (conf1) {
					var conf2 = confirm("The category AND all of the associated products..? Really..? ");
					if (conf2) {
						var conf3 = confirm("You're serious about this? ");
						if (conf3) {
							if (conf1 && conf2 && conf3) {
								$(this).parent().submit();
							}
						}
					}
				}
			});
		});
	</script>
{% endblock %}
{% block content %}
	{% if not admin %}
		<form method="POST" action="{{ url_for("admincp") }}">
			<label for="admin_password">Admin Password: </label>
			<input type="password" name="admin_password" id="admin_password">
			<input type="submit" value="Login">
		</form>
	{% else %}
		<h1> The Admin Control Panel </h1>
		<div class="grid_4">
			<h2>Add a Product</h2>
			<div class="container">
				{% if categories.count() %}
					<form method="POST" action="{{ url_for("add_product") }}">
						<label for="product_name" style="display:block">Name: </label><input type="text" name="product_name" id="product_name">
						<label for="product_description" style="display:block">Description: </label><textarea name="product_description" id="product_description" class="stretch" cols="34" rows="10" style="margin-bottom: 10px;"></textarea>
						<label for="product_price" style="display:block">Price: </label>$<input type="text" name="product_price" id="product_price" placeholder="Ex: 25.00; 17.50; 1.75">
						<label for="product_images" style="display:block">Image Links: </label><textarea placeholder="One Image Link Per Line" name="product_images" id="product_images" class="stretch" cols="34" rows="5"></textarea>
						<label for="product_primary_colors" style="display:block">Primary Colors: </label><textarea placeholder="One Color Per Line" name="product_primary_colors" id="product_primary_colors" class="stretch" cols="34" rows="5"></textarea>
						<label for="product_secondary_color_name" style="display:block">Secondary Color Name: </label><input type="text" name="product_secondary_color_name" id="product_secondary_color_name" placeholder="Ex: Splatter; Thorn Vine; Cords;">
						<label for="product_secondary_colors" style="display:block">Secondary Colors: </label><textarea placeholder="One Color Per Line" name="product_secondary_colors" id="product_secondary_colors" class="stretch" cols="34" rows="5"></textarea>
						<label for="product_secondary_color_optional" style="display:block">Secondary Color Optional?: </label><input type="checkbox" name="product_secondary_color_optional" id="product_secondary_color_optional" value="true">
						<label for="product_sizes" style="display:block">Sizes: </label><textarea placeholder="One Size Per Line" name="product_sizes" id="product_sizes" class="stretch" cols="34" rows="5">Small
Medium
Large
XL
XXL
XXXL</textarea>
						<label for="product_category" style="display:block">Category: </label>
						<select name="product_category" id="product_category">
							{% for category in categories %}
							<option value="{{ category["slug"] }}">{{ category["name"] }}</option>
							{% endfor %}
						</select>
						<input type="submit" value="Add Product" style="display: block; margin-top: 20px;">
					</form>
				{% else %}
					You must add a <em>category</em> before you may add a product. 
				{% endif %}	
			</div>
		</div>
		<div class="grid_4">
			<h2>Add Category</h2>
			<div class="container">
				<form method="POST" action="{{ url_for("add_category") }}">
					<label for="category_name" style="display:block">Name: </label><input type="text" placeholder="Ex: Shirts; Jewelry; Hats" name="category_name" id="category_name">
					<label for="category_singular_name" style="display:block">Singular Name: </label><input type="text" placeholder="Ex: Shirt; Jewelry; Hat" name="category_singular_name" id="category_singular_name">
					<label for="category_description" style="display:block">Description (Optional): </label><textarea name="category_description" id="category_description" class="stretch" cols="34" rows="10" style="margin-bottom: 10px;"></textarea>
					<label for="category_image" style="display:block">Preview Image: </label><input type="text" name="category_image" id="category_image">
					<label for="category_purchasable" style="display:block">Products are Purchasable? </label><input type="checkbox" name="category_purchasable" id="category_purchasable" value="true" checked="checked">
					<input type="submit" value="Add Category" style="display: block; margin-top: 20px;">
				</form>
			</div>
		</div>
		<div class="grid_4">
			<h2>Stats</h2>
			<div class="container">
			</div>
		</div>
		<div class="clear"></div>
		<div class="grid_4">
			<h2>Modify Products</h2>
			<div class="container">
				<ul>
					{% if products.count() %}
					{% for product in products %}
					<li>
						<form method="POST" action="{{ url_for("product", product_slug = product['slug']) }}">
							<strong>{{ product['name'] }}</strong> -- 
							<span class="delete_product delete_button">DELETE</span>
						</form>
					</li>
					{% endfor %}
					{% else %}
						You must add some <em>Products</em>.
					{% endif %}	
				</ul>
			</div>
		</div>
		<div class="grid_4">
			<h2>Modify Categories</h2>
			<div class="container">
				{% set throwaway = categories.rewind() %}
				{% if categories.count() %}
				{% for category in categories %}
				<ul>
					<li>
						<form method="POST" action="{{ url_for("category", category_slug = category['slug']) }}">
							<strong>{{ category['name'] }}</strong> -- 
							<span class="delete_category delete_button">DELETE</span>
						</form>
					</li>
				</ul>
				{% endfor %}
				{% else %}
					You must add some <em>Categories</em>.
				{% endif %}	
			</div>
		</div>
		<div class="clear"></div>
	{% endif %}
{% endblock %}
