{% extends "layout.html" %}
{% block title %}{{ category['name'] }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	{% if g.admin %}<a href="{{ url_for("category_edit", category_slug = category['slug']) }}" style="float: right;">Edit</a>{% endif %}
	<h1>{{ category['name'] }}</h1>
	{% if category['description'] %}
		<p>{{ category['description'] }}</p>
	{% endif %}
	{% set row_count=1 %}
	{% for product in products %}
		<div class="grid_4">
			<div class="product_preview">
				<a href="{{ url_for("product", product_slug = product['slug']) }}">
					<div class="product_name">{{ product['name'] }}</div>
					<img src="{{ product['images'][0] }}">
				</a>
			</div>
		</div>
		{% if row_count % 3 == 0 %}<div class="clear"></div>{% endif %}
		{% set row_count = row_count + 1 %}
	{% endfor %}
	<div class="clear"></div>
{% endblock %}
