<strong>Thanks for your order, {{ client['client_name'] }}! </strong>

As soon as possible I will be sending an invoice to your Paypal account so that you can pay for your purchase. To Pay it, login to your Paypal account at <a href="http://paypal.com">Paypal.com</a> and complete the invoice. 

Please give the invoice 24 hours to show up in your account! 

The moment the payment is complete, I will get to work on your custom made to order {{ category['singular_name'] }}. 

I appreciate your business, and hope you love your new {{ category['singular_name'] }}! 

- Catherine