<strong>Thanks for your order, {{ client['client_name'] }}! </strong><br><br>

As soon as possible I will be sending an invoice to your Paypal account so that you can pay for your purchase. To Pay it, login to your Paypal account at <a href="http://paypal.com">Paypal.com</a> and complete the invoice.<br><br> 

Please give the invoice 24 hours to show up in your account!<br><br> 

The moment the payment is complete, I will get to work on your custom made to order {{ category['singular_name'] }}.<br><br> 

I appreciate your business, and hope you love your new {{ category['singular_name'] }}!<br><br> 

- Catherine<br><br>

==================<br>
This is an automated email. Please do NOT reply! <br>