{% extends "layout.html" %}
{% block title %}CatGuice Home Page{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="product_preview">
		<img src="/static/img/previewtest.jpg">
	</div>
	<div class="product_preview">
		<img src="/static/img/previewtest.jpg">
	</div>
	<div class="product_preview">
		<img src="/static/img/previewtest.jpg">
	</div>

	<div class="product_preview">
		<img src="/static/img/previewtest.jpg">
	</div>
	<div class="product_preview">
		<img src="/static/img/previewtest.jpg">
	</div>
	<div class="product_preview">
		<img src="/static/img/previewtest.jpg">
	</div>
	<div class="clear"></div>
{% endblock %}
