{% extends "layout.html" %}
{% block head %}
{% endblock %}

{% block content %}
	{% if categories.count() %}
		<h1>Products</h1>
		{% set row_count=1 %}
		{% for category in categories %}
			<div class="grid_4">
				<div class="product_preview">
					<a href="{{ url_for("category", category_slug = category['slug']) }}">
						<img src="{{ category['image'] }}">
						<div class="product_name">{{ category['name'] }}</div>
					</a>
				</div>
			</div>
			{% if row_count % 3 == 0 %}<div class="clear"></div>{% endif %}
			{% set row_count = row_count + 1 %}
		{% endfor %}
	{% endif %}
	<div class="clear"></div>
{% endblock %}
