{% extends "layout.html" %}
{% block title %}CatGuice Home Page{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<h1>Excellent Products</h1>
	<div class="grid_4" style="margin-bottom: 50px;">
		<div class="product_preview">
			<a href="">
				<img src="/static/img/previewtest.jpg">
				<div class="product_name">A Product's Name</div>
			</a>
		</div>
	</div>
	<div class="grid_4">
		<div class="product_preview">
			<a href="">
				<img src="/static/img/previewtest.jpg">
				<div class="product_name">A Product's Name</div>
			</a>
		</div>
	</div>
	<div class="grid_4">
		<div class="product_preview">
			<a href="">
				<img src="/static/img/previewtest.jpg">
				<div class="product_name">A Product's Name</div>
			</a>
		</div>
	</div>
	<div class="clear"></div>
	<div class="grid_4">
		<div class="product_preview">
			<a href="">
				<img src="/static/img/previewtest.jpg">
				<div class="product_name">A Product's Name</div>
			</a>
		</div>
	</div>
	<div class="grid_4">
		<div class="product_preview">
			<a href="">
				<img src="/static/img/previewtest.jpg">
				<div class="product_name">A Product's Name</div>
			</a>
		</div>
	</div>
	<div class="grid_4">
		<div class="product_preview">
			<a href="">
				<img src="/static/img/previewtest.jpg">
				<div class="product_name">A Product's Name</div>
			</a>
		</div>
	</div>
	<div class="clear"></div>
{% endblock %}
