{% extends "layout.html" %}
{% block title %}Product Name{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	<div class="grid_6">
		<img src="/static/img/previewtest.jpg" class="product">
		<div class="container" style="text-align:center;margin-top: 10px;">
			More Photos
		</div>
		<div class="container" style="margin-top: 10px;">
			This product goes great with&hellip;
		</div>
	</div>
	<div class="grid_6">
		<h1>Awesome Shirt #12</h1>
	</div>
	<div class="clear"></div>
{% endblock %}
